{% extends 'admin_dashboard.html' %}

{% block counties %}

<!-- <div class="tab-pane fade show active" id="list-Players" role="tabpanel" aria-labelledby="list-Players-list"> -->
  <div class="row justify-content-between">
    <div class="col-4">
      <a href="/admin_create_county" class="btn btn-primary">Add County/Club</a>
    </div>
  </div>
  <div class="form-group">
    &nbsp;
  </div>
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">County/Club Name</th>
        </tr>
      </thead>
      <tbody>
      {% for county in counties %}
        <tr>
          <td>{{county.name}}</td>
          <td><a href="{% url 'admin_edit_county' county.county_id  %}">Edit</a> <a href="{% url 'admin_delete_county' county.county_id %}" onclick="return confirm('Are you sure you want to delete {{county.name}}? This action cannot be undone.')">Delete</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
<!-- </div> -->

{% endblock %}
