{% load static %}
<link rel="stylesheet" href="{% static 'events/css/events.css' %}" >
<script src="{% static 'events/js/login.js' %}"></script>

<!--
    you can substitute the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class = "form-signin" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <span id="reauth-email" class="reauth-email"></span>
                <!--<input type="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>-->
                <!--<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>-->
                <div id="remember_me" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->








<!--{% if form.errors %}-->
<!--<p>Your username and password didn't match. Please try again.</p>-->
<!--{% endif %}-->

<!--{% if next %}-->
    <!--{% if user.is_authenticated %}-->
    <!--<p>Your account doesn't have access to this page. To proceed,-->
    <!--please login with an account that has access.</p>-->
    <!--{% else %}-->
    <!--<p>Please login to see this page.</p>-->
    <!--{% endif %}-->
<!--{% endif %}-->

<!--<form method="post" action="{% url 'login' %}">-->
<!--{% csrf_token %}-->
<!--<table>-->
<!--<tr>-->
    <!--<td>{{ form.username.label_tag }}</td>-->
    <!--<td>{{ form.username }}</td>-->
<!--</tr>-->
<!--<tr>-->
    <!--<td>{{ form.password.label_tag }}</td>-->
    <!--<td>{{ form.password }}</td>-->
<!--</tr>-->
<!--</table>-->

<!--<input type="submit" value="login">-->
<!--<input type="hidden" name="next" value="{{ next }}">-->
<!--</form>-->

